$darkBG: #2f3238;
//$darkBG: #1d1d1d;
$coloredLinks: #cc6055;
$coloredLinksActivated: #A6483E;
$textColor: rgba(255, 255, 255, 0.5);
$topBG: #403E45;
$topBorder: #202227;
$twitter: #55acee;
$facebook: #3b5998;