@import '_colors.scss';
.artist {
    .profile_container {
        position: relative;
        .img-circle {
            margin: 20px auto;
            width: 175px;
            height: 175px;
        }
    }
    .slider-slide {
        background-color: $darkBG;
    }
    .tabs {
        position: relative;
        top: 0;
    }
    .tab-content {
        top: 250px!important;
    }
    .img-thumbnail {
        width: 100%;
        margin-top: 15px;
        background-color: #333;
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;
        border: 2px solid $topBorder;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .bio {
        padding: 0 10px;
    }
    .title {
        margin: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #666;
        font-size: 24px;
        color: $coloredLinks;
    }
    .ngTruncateToggleText {
        color: $coloredLinks;
    }
    img.emptyArtist {
        width: 70%;
        height: 70%;
        text-align: center;
        position: relative;
        top: 15%;
        transform: translate(-50%);
        left: 50%;
        margin: 0;
    }
    .videography,
    .featured {
        img.missingImage {
            height: 150px;
            width: 150px;
            margin: 20px 0;
        }
        .item-image img {
            height: 200px;
        }
    }
    .related {
        position: relative;
        width: 100%;
        img {
            width: 80%;
            margin: 10px auto;
            display: block;
        }
        span {
            background-color: rgba(#000, 0.5);
            display: block;
            text-decoration: none;
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            color: white;
            font-size: 18px;
        }
    }
}