@import '_colors.scss';
.login {
    h1.title {
        text-align:center!important;
        right:0!important;
    }
    .scroll {
        height:100%;
        .slider {
            height:100%;
            .slider-slides {
                height: 100%;
                .slider-slide {
                    height:100%;
                    .BG_login {
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        z-index: -1;
                        -webkit-filter: blur(1px);
                        -moz-filter: blur(1px);
                        -o-filter: blur(1px);
                        -ms-filter: blur(1px);
                        filter: blur(1px);
                        opacity: 0.3
                    }
                    &:first-child .BG_login{
                        background-position: 34%;
                    }
                    &:nth-child(2) .BG_login{
                        background-position: 97%;
                    }
                }
            }
        }
    }
    .box{
        padding-top: 35px;
        h1 {
            color: $coloredLinks;
            text-align: center;
            margin-bottom:20px;
        }
        p {
            text-align: center;
            margin-bottom:30px;
            a {
                display:inline-block!important;
            }
        }
        a {
            text-align:center;
            color: $coloredLinks;
            display:block;
        }
        form {
            span.input {
                margin-top:40px;
            }
            .button {
                margin:20px auto;
                width:90%;
            }
            i.password-reset {
                position:absolute;
                font-size: 26px;
                right: 30px;
                top:12px;
                color: #555;
            }
        }
        .buttons-login {
            margin-top:25px;
            text-align: center;
            button {
                display: inline-block!important;
                width:40%;
                &:first-child {
                    margin-right:10px;
                }
            }
        }
        .social-login {
            position: absolute;
            bottom: 0;
            width:100%;
            left: 0;
            right: 0;
            > div {
                text-align: center;
                padding:10px 0;
                color: #EEE;
                position: relative;
                &.twitter {
                    background-color:$twitter;
                    > i {
                        font-size:18px;
                        margin-left:-8px;
                    }
                }
                &.facebook {
                    background-color: $facebook;
                    > i {
                        font-size:22px;
                    }
                }
                .icon-holder {
                    position:absolute;
                    right:0;
                    top:0;
                    padding:12px;
                    background-color: rgba(0, 0, 0, 0.1);
                    i {
                        font-size:12px;
                        margin-left:5px;
                    }
                }
            } 
        }
    }
}
div.input {
    padding: 0 20px;
    position: relative;
    .input__label {
        background-color: rgba(255,255,255,.4);
        float: left;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: none;
        width: 50px;
        height: 50px;
        text-align: center;
        i {
            font-size: 24px;
            color: $coloredLinks;
            margin-top: 5px;
            display: block;
            text-shadow: 1px 1px rgba(#000, 0.5);
        }
    }
    .input__field {
        font-family: helvetica_neue_lt_pro45_light;
        letter-spacing: 1px;
        color: rgba(#000, 0.6);
        font-size: 16px;
        width: calc(100% - 50px);
        float: left;
        height: 50px;
        background-color: rgba(255, 255, 255, .2);
        border: 1px solid rgba(255, 255, 255, .2);
        border-bottom: none;
        padding-left: 20px;
        font-weight: 600;
        &::-webkit-input-placeholder {
            color: $coloredLinks;
            text-shadow: 1px 1px rgba(#000, 0.5);
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
    &:after {
        content: '';
        clear:both;
        display:block;
    }
    &:last-of-type {
        .input__label,
        .input__field {
            border-bottom: rgba(255, 255, 255, .2);
        }
    }
}