@import '_colors.scss';
.profile_page {
    .profile_container + .tabs-top > .tabs {
        top:170px!important;
    }
    .tab-content {
        top: 205px!important;
    }
    .profile_container {
        .title {
            color: $textColor;
            font-family: helvetica_neue_lt_pro45_light;
            font-weight: 400;
            font-size: 20px;
            margin-top:5px;
            left:0;
            text-align: center;
        }
        .img-circle {
            width:125px;
            height:125px;
            .ion-plus-circled {
                position: absolute;
                bottom: 13px;
                right: 20px;
                font-size: 28px;
                color: $coloredLinks;
                text-shadow: 1px 1px #555;
            }
        }
    }
}
.profile_settings {
        position: absolute;
        right: 15px;
        top: 5px;
        text-shadow: 1px 1px #555;
        z-index: 2;
        i {
            color: $coloredLinks;
            font-size: 30px;
        }
    }
.profile_container {
    width:100%;
    overflow: hidden;
    text-decoration: none;
    .img-circle {
        width: 75px;
        height: 75px;
        margin: 5px auto auto;
        position: relative;
        box-shadow: 5px 5px 10px rgba(0,0,0,.7);
        img {
            width: 107%;
            height: 107%;
            margin-left: -2px;
            margin-top: -2px;
        }
    }
    .title {
        position: relative;
        left: 0!important;
        text-align: center!important;
        text-shadow: 1px 1px #555;
    }
    .background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        height: 95%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
.tabs-top.text-only {
    .tabs {
        height: 35px;
        .tab-item {
            line-height:35px;
        }
    }
    .has-tabs-top {
        top:35px;
    }
    .tab-content.profile-tab-content {
        top: 35px;
    }
}
.add_new_playlist {
    display:block;
    margin-top:10px;
    button {
        float: right;
        margin-right:15px;
        border-color: $coloredLinksActivated!important;
    }
}