@import '_colors.scss';
.search{
    .search-history a.item,
    .search-history a.item i{
        font-size: 20px;
    }
}
#header-search {
    font-size: 17px;
    width:100%;
    .ion-search {
        position: absolute;
        top: -5px;
        left: 5px;
        color: #fff;
        font-size: 20px;
    }
    input.search_input {
        width:100%;
        padding-left: 30px;
        line-height:15px;
        font-size:20px;
        background: transparent;
        color: $textColor;
        border-bottom: 2px solid $coloredLinks;
        &::-webkit-input-placeholder {
           color: $coloredLinks;
           line-height:25px;
        }
    }
    .ion-close {
        position: absolute;
        right: 0;
        top: -3px;
        color: #fff;
        font-size:20px;
    }
}
.track-search-icon,
.artist-search-icon {
    text-align: center;
    font-size: 64px;
    margin: 40px auto 0;
    width: 84px;
    position: relative;
    color: $coloredLinks;
    background-color: $darkBG;
    border-radius: 10px 10px 10px;
    padding:10px;
    .icon {
        &.search {
            font-size: 38px;
            color: $textColor;
            position: absolute;
            right: 5px;
            bottom: 10px;
        }
    }
}
.artist-search-icon .search.icon {
    font-size: 28px;
    right: 14px;
    bottom: 14px;
}