@import '_colors.scss';
.settings.pane {
	.status_dropdown {
		position:relative;
		margin-bottom:10px;
	}
}
.settings,
.player_settings_modal {
	.item-floating-label .input-label {
		display:none;
	}
	.item {
		i {
			width: 30px;
			font-size: 20px;
			text-align: center;
			margin-left: -5px;
		}
	}
	.save_settings {
		padding:20px 10px;
		button {
			width:100%;
			color: $coloredLinks;
  			border-color: $topBorder;
  			background-color: $topBorder;
  			&.activated {
  				background-color: #444;
  				border-color: #444;
  			}
		}
	}
	.user_buttons {
		padding:10px;
		button {
			width:100%;
			&:first-child {
				margin-bottom:15px;
			}
		}
	}
	.item-floating-label {
		input + i.ion-close-round {
			position: absolute;
			right: 0;
			top: 12px;
			font-size: 28px;
			display:block;
			color: #cc6055;
		}
	}
}
.list.custom-checkbox {
	li.item {
		width:37.5%;
		float: left;
		background-color: transparent;
		border-right:none;
		border-left:none;
		input {
			&:before {
				background-color:transparent;
				border-color: $coloredLinks;
			}
		}
		&.label-checkbox {
			padding-left:20px;
			width:25%
		}
	}
	&:after {
		clear: both;
		display:block;
		content: '';
	}
}
.player_settings_modal {
	.upload_image {
		border: 3px dashed $coloredLinks;
		border-radius: 25px;
		width: 80%;
		height: 240px;
		margin: 20px auto;
		position: relative;
		img {
			display:none;
		}
		.clear-image {
			font-size: 32px;
			background-color: white;
			color: black;
			border-radius: 24px;
			position: absolute;
			width: 27px;
			height: 27px;
			position: absolute;
			right:3px;
			top:3px;
			display:none;
			&:before {
				line-height:.88;
			}
		}
		&:before {
			content: '\f147';
			display: block;
			font-size: 98px;
  			font-family: "Ionicons";
  			text-align: center;
  			margin-top: 60px;
		}
		&:after {
			content: 'Upload an image for player';
			line-height: 150px;
  			text-align: center;
  			display: block;
  			font-size: 18px;
  			font-weight: 500;
		}
		&.has-image {
			overflow: hidden;
			img {
				width:100%;
				height:100%;
				display:block;
				position:absolute;
				top:0;
			}
			.clear-image {
				display:block;
			}
		}
	}
	.bar-header {
		z-index:0;
	}
	.status_dropdown {
		top:-50px;
		z-index:5;
	}
	ion-content {
		overflow: visible;
	}
}
.player_settings {
	.list .item {
		padding:0;
		h2 {
			color: $coloredLinks;
		}
		&.item-avatar {
			.item-content {
				padding-top:17px;
				background-color: transparent;
				.BGImage {
					position: absolute;
					top:0;
					left:0;
					right: 0;
		  			bottom: 0;
					z-index:-1;
					-webkit-filter: blur(1px);
		            -moz-filter: blur(1px);
		            -o-filter: blur(1px);
		            -ms-filter: blur(1px);
		            filter: blur(1px);
		            opacity: .3;
		            width:100%;
		            margin-top: -25%;
				}
			}
		}
	}
}
.network {
	margin:0;
	li:nth-child(1) {
		padding: 16px 0 16px 20px;
	}
	li:nth-child(2), li:nth-child(3) {
		padding: 16px 0 16px 60px;
	}
}
input[disabled="disabled"], input[disabled] {
	background-color:transparent!important;
}