<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.cymbit.Alma" version="0.7.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Alma</name>
  <description>
        With the Alma app you can watch music videos, search for music based on your unique taste, and discover new emerging artists on your mobile device for free. Access a vast catalogue of new undiscovered artists from around the world in a beautiful video app.
    </description>
  <author email="braxtondiggs@gmail.com" href="http://braxtondiggs@gmail.com">
        Alma Team
    </author>
  <content src="index.html"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <access origin="*"/>
</widget>