<ion-view class="artist">
    <ion-nav-title>{{artist.info.convertedSlug}}</ion-nav-title>
    <ion-content class="animated fadeIn" ng-class="{'has-footer': queueList.length}">
        <div class="profile_container">
            <div class="img-circle animated bounceIn">
                <img alt="" ng-src="{{artist.info.checkedImage}}" ng-class="artist.info.artistStyles" />
            </div>
            <div class="background" ng-style="artist.info.style"></div>
        </div>
        <ion-tabs class="tabs-icon-only tabs-striped text-only">
            <ion-tab title="Videos" hidden="!artist.info.videography.length">
                <ion-nav-view class="padding" ng-style="{'background-image':'url(images/BG.png)'}">
                    <div class="videography animated bounceInUp delay-2">
                        <div class="list card dark-list" ng-repeat="video in artist.info.videography" ng-click="queue(video)">
                            <div class="item item-divider list-title">
                                {{video.song_title}}
                            </div>
                            <div class="item item-image">
                                <img ng-src="{{video.image.l}}" src="images/logo_missing.png" err-src="images/logo_missing.png" />
                            </div>
                            <a class="item item-icon-left assertive">
                                <i class="icon ion-music-note"></i> Start Listening
                            </a>
                        </div>
                        <p ng-if="!artist.info.videography.length" class="center" style="margin-top:50px;">It looks like we do not have any songs for this artist right now, check back later</p>
                        <br />
                        <button class="button button-outline dark-button" ng-click="artist.contact(artist.info.convertedSlug);"> Are we missing a music video?</button>
                        <br />
                    </div>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Featured" hidden="!artist.info.featured.length">
                <ion-nav-view class="padding">
                    <div class="featured animated bounceInUp">
                        <div class="list card dark-list" ng-repeat="video in artist.info.featured" ng-click="queue(video)">
                            <div class="item item-divider list-title">
                                {{video.artists[0].name}} - {{video.song_title}}
                            </div>
                            <div class="item item-image">
                                <img ng-src="{{video.image.l}}" src="images/logo_missing.png" err-src="images/logo_missing.png" />
                            </div>
                            <a class="item item-icon-left assertive">
                                <i class="icon ion-music-note"></i> Start Listening
                            </a>
                        </div>
                        <p ng-if="!artist.info.featured.length" class="center" style="margin-top:50px;">It looks like we do not have any songs for this artist right now, check back later</p>
                        <br />
                        <button class="button button-outline dark-button" ng-click="artist.contact(artist.info.convertedSlug);"> Are we missing a music video?</button>
                        <br />
                    </div>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Bio" on-select="artist.getBio()" ng-if="false">
                <ion-nav-view class="padding">
                    <p class="bio" ng-text-truncate="artist.info.bio" ng-tt-chars-threshold="240" ng-tt-more-label="Show" ng-tt-less-label="Hide"></p>
                    <p ng-if="!artist.info.bio && artist.info.bioLoaded" class="center" style="margin-top:50px;">Sorry, no biography info right now.</p>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Social" hidden="true" ng-if="false">
                <ion-nav-view class="padding">
                    More
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Related" on-select="artist.getRelated()">
                <ion-nav-view>
                    <div class="row" ng-repeat="related in artist.related">
                        <a href="#/app/artist/slug/{{artist.toSlug(related.name)}}" class="related">
                            <img ng-src="{{related.images[0].url}}" src="images/logo_missing.png" />
                            <span>{{related.name}}</span>
                        </a>
                    </div>
                    <p ng-if="!artist.related" class="center" style="margin-top:50px;" ng-cloak>Sorry, we could not find a similar artist to {{artist.info.convertedSlug}}.</p>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>