<ion-view view-title="Dashboard" ng-style="{'background-image':'url(images/BG.png)'}" class="dashboard">
    <ion-content ng-class="{'has-footer': queueList.length}">
        <div class="list chat-convo dark-list">
            <div class="setup" ngfx-default="hide" ngfx-rubber-band="!user.connected && !user.connected.player">
                <p>Welcome to Alma! Playing music videos have never been so easy, with Alma you have access to thousands of videos at your finger tips. You need to be connected to an Alma Player inorder to get started. Press "Get Started" below for a quick tutorial.</p>
                 <div class="setup_buttons">
                    <button class="button button-positive" ng-click="dashboard.tutorial()">
                        Get Started
                    </button>
                </div>
            </div>
            <div class="item chat-item animated fadeIn" ng-repeat="(key, chat) in dashboard.chats | orderBy:orderBy" ng-class="{'isSelf' : chat.user.id === user.id}">
                <!--<img class="video-image" ng-src="{{chat.videoImage}}" ng-if="chat.videoImage">-->
                <div class="chat-img">
                    <img class="img-circle img-border" ng-src="{{chat.user.image}}" src="images/missingPerson.jpg" />
                </div>
                <div class="chat-bubble" on-hold="dashboard.onHold(chat)">-->
                    <div class="chat-content">
                        <h2>{{chat.user.name}}</h2>
                        <!--<img class="chat-image" ng-src="{{chat.imageMsg}}" ng-if="chat.imageMsg"/>-->
                        <p>{{chat.message}}</p>
                    </div>
                </div>
                <div class="chat-timestamp">
                    <p><i class="ion-clock">&nbsp;</i><span am-time-ago="chat.timestamp"></span></p>
                </div>
            </div>
            <p ng-show="dashboard.chats.length < 1 && user.connected && dashboard.loaded" class="empty-list">No one has started to chat. Be the first!</p>
        </div>
       
    </ion-content>
    <ion-subfooter-bar align-title="left" class="bar chat-write animated flipInX delay-6" ng-class="queueList.length > 0? 'bar-subfooter' : 'bar-footer'">
        <i class="icon ion-ios-camera-outline chat-image" ng-click="dashboard.attachImage()" ng-if="!dashboard.image"></i>
        <img ng-src="{{dashboard.image}}" ng-if="dashboard.image && false" class="dashbord-image" ng-click="dashboard.changeImage()" />
        <form name="dashboard.chatForm" ng-submit="dashboard.submit()" novalidate style="width: 100%;">
            <input type="text" id="chat-input" name="message" placeholder="Tap to write message..." ng-model="dashboard.message" ng-keyup="dashboard.getKeys($event)" autocomplete="off" required/>
            <button type="submit" class="button button-small button-outline dark-button" ng-disabled="dashboard.chatForm.message.$invalid">Send</button>
        </form>
    </ion-subfooter-bar>
</ion-view>